{% extends 'layouts/main.html' %}

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <p class="mt-20">
        <strong>Total charged:</strong> ${{ amount }}
      </p>
      <p>
        <strong> Purchase Item ID:</strong> {{ item_id }}
      </p>
      <p>
        <strong>Payment Intent ID:</strong> {{ payment_intent_id }}
      </p>
    </div>
      <div class="mt-20 d-flex flex-column align-items-center gap-3">
          <a href="/" class="btn btn-primary btn-lg mt-20">
              Buy another
          </a>
      </div>

  </div>
</main>
{% endblock %}
